.center{
    text-align: center;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('Images/image_source_Backround.jpg');
  }

  body{
    color: gainsboro;
}

h1{
    color: orangered;
}

a:link {
    color: red;
}
  
a:visited {
    color: orangered;
}
  
a:hover {
    color: orange;
}
  
a:active {
    color: blue;
}
  
header{
    text-align: justify;
    color: white;
}

.flex-container {
    display: flex;
    justify-content: center;
    color: black;
}